<ion-header>
  <div class="headersec">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <div class="logo"><img src="../../assets/imgs/logo.jpg"></div>
    <div class="rytheadsec">
    <div class="notify"><div class="notification"></div><img src="../../assets/imgs/notify.png"></div>
    <div class="walletsec">Main Wallet<span>Rs. 275</span></div>
    </div>
    </ion-navbar>
    </div>
</ion-header>

<ion-content padding>

  <div class="bodysec">

    <div class="headingbutsec">
    <h1>{{title}} Recharge</h1>
    <a href="#" class="rechargestatementbut">Recharge Statement</a>
    </div>
    
    <div class="formgreybg">
    <div class="sgleformsec">
    <div class="label">Mobile Number</div>
    <input type="number" name="text" class="inputfield" placeholder="Enter Mobile Number" />
    </div>
    <div class="sgleformsec">
    <div class="label">Amount</div>
    <input type="number" name="text" class="inputfield" placeholder="Enter Amout" />
    </div>
    <div class="sgleformsec">
    <div class="label">Select Operator</div>
    <select class="selectfield">
    <option selected="selected">Select</option>
    </select>
    </div>
    <div class="sgleformsec">
    <label class="checkboxcontainer">Checkbox
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span></label>
    </div>
    
    <div class="sgleformsec" style="text-align:center;">
    <input type="submit" name="recharge" value="recharge now" class="rechargebut" />
    </div>
    </div>
    
    </div>
    
    
    

</ion-content>
<ion-footer>
  <div class="footersec">
    <div class="sgleftrsec" ><img src="../../assets/imgs/ftr01.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr02.jpg"></div>
    <div class="sgleftrsec" (click)="gotoPage('home');"><img src="../../assets/imgs/ftr03.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr04.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr05.jpg"></div>
    </div>

</ion-footer>
