page-login {
    .card-md{ border-radius: 8px !important; padding: 5px !important; opacity: 0.95 !important;}
    .primary-header{ color: #999 !important; font-weight: 900 !important;}
    .background{ background-image: radial-gradient(rgb(246, 246, 246) ,rgb(158, 158, 158)); text-align: center !important;}
    .image-middle-card{ text-align: center !important; z-index: 10 !important;}
    .image-top-card{ margin-top: 10px !important;}
    .backelement{z-index: -1 !important;}
    .button-inner{ text-transform: capitalize !important;}

    #content { margin-top:25% !important;}
    #user-info { position: absolute; top: -95px; width: 100%; z-index: 2; text-align: center; margin-left: 32% !important; }
    #user-image { display: block; border-radius: 120px; border: 1px solid #fff; width: 70px; height: 70px; margin-top:40% !important;box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);}
    .small-text{ font-weight: 800 !important; color: #919191; text-align: center;}
    .button-md { font-size: 10px !important;  font-weight: 0 !important;}
    ul.login-usp {
        text-align: center;
        overflow: hidden;
        width: 100%;
        text-align: right;
        margin: 0;
        padding: 0px;
    }
    ul.login-usp li {
        display: inline-block;
    width: 33.3333333%;
    padding: 0 6px;
    text-align: center;
    float: left;
    font-size: 11PX;
    }
    .segment-md-primary .segment-button {
        color: #919191;
    }
    .text-input {
        width: 100%;
        height: 59px;
        background-color: #eaeaea !important;
        border: none;
        border-radius: 26px;
        padding: 0 32px;
        font-size: 20px;
        line-height: 59px;
        font-family: 'MANROPESEMIBOLD';
        margin:0px;
    }
    .links {
        color: #03b16d;
        font-weight: normal;
        font-size:12px;
        text-decoration: none;
    }
    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
        border-color: #03b16d;
        color: #03b16d;
        opacity: 1;
    }
    .login-form-details .login {
        width: 100%;
        max-width: 233px;
        height: 55px;
        border: none;
        
        background-color: #03b16d;
        color: #fff;
        font-size: 17px !important;
        line-height: 55px;
        font-family: 'MANROPESEMIBOLD';
        text-transform: capitalize;
        border-radius: 27px;
        cursor: pointer;
    }
    user {
        width: 100%;
        margin-bottom: 32px;
    }
    .login-form-details {
        width: 100%;
        text-align: center;
        padding: 40px 0 0 0;
    }
    
}
