

<ion-content padding >
  <p class="small-text pl-20 pr-20">
    <img src="../../assets/imgs/logo.png" style="width: 70px !important;" />

    <span style="float: right !important;">
      <ion-icon name="notifications" style="margin-top: 10px !important; color: #eee !important;"></ion-icon>
    </span>
  </p>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="deposit" checked>
      <ion-label>Login</ion-label>
      <ion-icon name="cash"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="loan">
      <ion-label>SignUp</ion-label>
      <ion-icon name="log-out"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'deposit'">
<div class="login-form-details">
      <ion-item style="display: none;">
        <ion-label color="primary" stacked>IP Address</ion-label>
        <ion-input type="tel" placeholder="IP address" class="input-underline" [(ngModel)]="ipAddress">
        </ion-input>
      </ion-item>


     <div class="user">
        
        <ion-input type="email" placeholder="Your registered username"  [(ngModel)]="userName">
        </ion-input>
      </div>

      <div class="user" style="margin-top: 20px;">
        
        <ion-input type="password" placeholder="Your password"  [(ngModel)]="password"></ion-input>
      </div>

    <p class="small-text pl-20 pr-20" style="margin-top: 20px;">
        <a href="#" class="links">Forget Password?</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="links">Other Login issues?</a>
    </p>
    <p style="text-align: center;">
      <button ion-button clear (click)="login()" class="login">Login Securely</button>
    </p>
    <p class="small-text pl-20 pr-20" style="margin-top: 10px;">
      <a href="#" class="links">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="links">Privacy Policy</a>
  </p>
</div>
  </ion-list> 
  <ion-list *ngSwitchCase="'loan'">
    <div class="login-form-details">
      <div class="user">
        <ion-input type="text" placeholder="Your Name"  [(ngModel)]="name">
        </ion-input>
      </div>

      <div class="user" style="margin-top: 20px;">
        <ion-input type="text" placeholder="Your Pan No" [(ngModel)]="panno">

        </ion-input>
      </div>
      <div class="user" style="margin-top: 20px;">
        <ion-input type="text" placeholder="Your Phone No" [(ngModel)]="phone">
        </ion-input>
      </div>
      <div class="user" style="margin-top: 20px;">
        <ion-input type="email" placeholder="Your Email"  [(ngModel)]="email">
        </ion-input>
      </div>
      <div class="user" style="margin-top: 20px;">
        <ion-input type="text" placeholder="Your State"  [(ngModel)]="state">
        </ion-input>
      </div>
      <div class="user" style="margin-top: 20px;">
        <ion-input type="text" placeholder="Your Sponsor"  [(ngModel)]="sponsor">
        </ion-input>
      </div>
      <p style="text-align: center;">
        <button ion-button clear  class="login">Register</button>
      </p>
    </div>
    </ion-list>
 </div>
  
  
  <h2 style="line-height: normal;
  font-family: 'MANROPESEMIBOLD';
  text-align: center;
  margin-top: 26px;
  color: #03b16d;
  font-weight: normal;
  font-size:20px;">Benefits of RightEPay Account</h2>
  <ul class="login-usp">
    <li> <img src="../assets/imgs/fas-secure.png" class="img-responsive" alt="">
      <p>Fast &amp; Secure <span>Payments</span></p>
    </li>
    <li> <img src="../assets/imgs/fas-secure.png" class="img-responsive" alt="">
      <p>Pay Utility Bills or Mobile <span>Recharge &amp; Get Cashbacks</span></p>
    </li>
    <li> <img src="../assets/imgs/fas-secure.png" class="img-responsive" alt="">
      <p>Amazing deals on Travel,<span>Movies &amp; Shopping</span></p>
    </li>
  </ul>

</ion-content>

