page-register {
    .card-md{ border-radius: 8px !important; padding: 5px !important; opacity: 0.95 !important;}
    .primary-header{ color: #999 !important; font-weight: 900 !important;}
    .background{ background-image: radial-gradient(rgb(246, 246, 246) ,rgb(158, 158, 158)); text-align: center !important;}
    .image-middle-card{ text-align: center !important; z-index: 10 !important;}
    .image-top-card{ margin-top: 10px !important;}
    .backelement{z-index: -1 !important;}
    .button-inner{ text-transform: capitalize !important;}

    #content { margin-top:25% !important;}
    #user-info { position: absolute; top: -95px; width: 100%; z-index: 2; text-align: center; margin-left: 32% !important; }
    #user-image { display: block; border-radius: 120px; border: 1px solid #fff; width: 70px; height: 70px; margin-top:40% !important;box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);}
    .small-text{ font-weight: 800 !important; color: #919191;}
    .button-md { font-size: 10px !important;  font-weight: 0 !important;}
    
}
