<ion-header>
  <p class="small-text pl-20 pr-20">
    <img src="../../assets/imgs/logo.png" style="width: 70px !important;" />

    <span style="float: right !important;">
      <ion-icon name="notifications" style="margin-top: 10px !important; color: #eee !important;"></ion-icon>
    </span>
  </p>
</ion-header>

<ion-content padding class="background">

  <p class="image-middle-card nomargin">

  </p>
  <ion-card id="content">
    <ion-avatar id="user-info">
      <img id="user-image" src="../../assets/imgs/user.png" />
    </ion-avatar>
    <ion-card-content>

      


      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input type="text" placeholder="Your Name" class="input-underline" [(ngModel)]="name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Pan No</ion-label>
        <ion-input type="text" placeholder="Your Pan No" class="input-underline" [(ngModel)]="panno">

        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Phone No</ion-label>
        <ion-input type="text" placeholder="Your Phone No" class="input-underline" [(ngModel)]="phone">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" placeholder="Your Email" class="input-underline" [(ngModel)]="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>State</ion-label>
        <ion-input type="text" placeholder="Your State" class="input-underline" [(ngModel)]="state">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Sponsor ID</ion-label>
        <ion-input type="text" placeholder="Your Sponsor" class="input-underline" [(ngModel)]="sponsor">
        </ion-input>
      </ion-item>

    </ion-card-content>
    <p style="text-align: right !important; margin-right: 20px !important;">
      <button ion-button clear >Register</button>
    </p>
    <p style="font-size:10px !important">
      <a ion-button clear href="/#/login">Login?</a>
    </p>
  </ion-card>



</ion-content>

<ion-footer>

  <p class="pl-20 pr-20 nomargin">
    <span style="float: left !important;"><button ion-button clear>Terms and Conditions</button></span>
    <span
      style="float: right !important; font-size: 10px !important; color: rgb(0, 0, 0) !important; margin-top: 18px !important;">Copyright
      &copy;2020 RightEPay</span>
  </p>

</ion-footer>