<ion-header>
  <div class="headersec">
   
    <button ion-button menuToggle class="burgermenu">
      <img src="../../assets/imgs/burgericon.png">
    </button>
    <div class="logo"><img src="../../assets/imgs/logo.jpg"></div>
    <div class="rytheadsec">
    <div class="notify"><div class="notification"></div><img src="../../assets/imgs/notify.png"></div>
    <div class="walletsec">Main Wallet<span>Rs. 275</span></div>
    </div>
    </div>
</ion-header>
<ion-content padding >
<div>
  
  
  <div class="bodysec">
  
  <div class="bannersec">
    <ion-slides autoplay="3000" loop="true" speed="300" pager="true">
      <ion-slide>
        <img src="../../assets/imgs/slide01.png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/slide01.png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/slide01.png">
      </ion-slide>
    </ion-slides>
    </div>
  
  <div class="slidetxt"><marquee>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</marquee></div>
  
  <div class="greybg">
  <div class="row">
  <div class="sgleitem"><a href="#"><img src="../../assets/imgs/featured-block-img1.jpg"></a></div>
  <div class="sgleitem"><a href="#"><img src="../../assets/imgs/featured-block-img2.jpg"></a></div>
  <div class="sgleitem"><a href="#"><img src="../../assets/imgs/featured-block-img3.jpg"></a></div>
  <div class="sgleitem"><a href="#"><img src="../../assets/imgs/featured-block-img4.jpg"></a></div>
  </div>
  </div>
  
  <div class="iconsec">
  <h1>Book with RightEPay</h1>
  <div class="row">
  <div class="sgleiconsec" (click)="openPage('Modile');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon01.png" alt=""></div>
  <div class="title">Mobile</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('DTH');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon02.png" alt=""></div>
  <div class="title">DTH</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Electricity');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon03.png" alt=""></div>
  <div class="title">Electricity</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('DMT');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon04.png" alt=""></div>
  <div class="title">DMT</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Shop');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon05.png" alt=""></div>
  <div class="title">Shop</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('PAN Card');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon06.png" alt=""></div>
  <div class="title">PAN Card</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Train Ticket');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon07.png" alt=""></div>
  <div class="title">Train Ticket</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Hotel');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon08.png" alt=""></div>
  <div class="title">Hotel</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Insurance');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon09.png" alt=""></div>
  <div class="title">Insurance</div>
  </div>
  <div class="sgleiconsec" (click)="openPage('Utility Bill');">
  <div class="iconwhtebg"><img src="../../assets/imgs/icon09.png" alt=""></div>
  <div class="title">Utility Bill</div>
  </div>
  </div>
  </div>
  
  <div class="graphicsec">
    <ion-slides autoplay="2000" loop="true" speed="200">
      <ion-slide>
        <img src="../../assets/imgs/graphic01.png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/graphic01.png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/graphic01.png">
      </ion-slide>
    </ion-slides>
    
    </div>
  
  </div>
  
 
  
  </div>
</ion-content>
<ion-footer>
  <div class="footersec">
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr01.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr02.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr03.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr04.jpg"></div>
    <div class="sgleftrsec"><img src="../../assets/imgs/ftr05.jpg"></div>
    </div>

</ion-footer>