<ion-menu [content]="content" type="overlay">
  <ion-header style="background-color : rgb(61, 192, 253) !important;">
    <ion-row>
      <ion-col style="text-align: center !important;">
        <img src="../assets/imgs/logo.png" style="width: 90px !important;" />
      </ion-col>
    </ion-row>
  </ion-header>

  <ion-content style="background-image: radial-gradient(rgb(246, 246, 246) ,rgb(230, 230, 230));">

    <p style="text-align:  center !important;">
    <ion-label>
      Dashboard
    </ion-label>
  </p>

    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu1.png" style="width: 30px !important"/></button> Personal Information</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; View Profile</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Change Password</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Upload KYC</p>
    </ion-card>


    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu2.png" style="width: 30px !important"/></button> Memberships</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Add Member</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; All Member</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; View Direct Member</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; SILVER Plan</p>
        

    </ion-card>
    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu3.png" style="width: 30px !important"/></button> Manage PIN</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Transfer PIN</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; View PIN</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PIN Package</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PIN Generate From Wallet</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PINs Transfer Details</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PINs Request</p>
    </ion-card>
    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu4.png" style="width: 30px !important"/></button> Share</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Link Share</p>
        
    </ion-card>
    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu5.png" style="width: 30px !important"/></button> Wallets</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Team To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Global To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Silver To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Wallet Transfer</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Team Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Main Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; E-Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Global Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Silver Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Withdrawal Request</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Payout Report</p>
        
    </ion-card>
    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu6.png" style="width: 30px !important"/></button> Reports</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Recharge Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Transaction Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Money Transfer Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Payout Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Sales Report</p>
    </ion-card>
    <ion-card style="background-color: #b3f8e5 ;"> 
      <ion-card-header><button ion-button clear> <img src="../assets/imgs/dashboard-menu7.png" style="width: 30px !important"/></button> Notifications</ion-card-header>
         <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Notifications</p>
    </ion-card>

    <!-- <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>