<ion-menu [content]="content">
  <div class="menubg">
    <div class="topmenubg">
    <div class="leftpart">
    <div class="thumbnailsec"><img src="../../assets/imgs/graphic01.png" /></div>
    <p>Silver Member</p>
    </div>
    <div class="rightpart">
    <p><strong>Jayanta Biswas</strong></p>
    <p>ID - RW937469</p>
    <p>Status: Active</p>
    <p>Date of join: 31.12.2020</p>
    </div>
    </div>
    <ul id="cssmenu">
    <li><a href="#"><img src="../../assets/imgs/menu1.png" />Personal Information</a>
     <ul >
      <li><ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp;View Profile</li>
      <li><ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp;Change Password</li>
      <li><ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp;Upload KYC</li>
      </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu2.png" />Memberships</a>
    <ul>
      <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Add Member</li>
      <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; All Member</li>
      <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; View Direct Member</li>
      <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; SILVER Plan</li>
    </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu3.png" />Manage PIN</a>
      <ul>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Transfer PIN</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; View PIN</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PIN Package</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PIN Generate From Wallet</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PINs Transfer Details</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; PINs Request</li>

      </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu4.png" />Share</a>
      <ul>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Link Share</li>
        
        
      </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu5.png" />Wallets</a>
      <ul>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Team To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Global To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Silver To Main</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Wallet Transfer</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Team Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Main Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; E-Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Global Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Silver Wallet Report</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Withdrawal Request</p>
        <p> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Payout Report</p>
        
      </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu6.png" />Reports</a>
      <ul>

        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Recharge Report</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Transaction Report</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Money Transfer Report</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Payout Report</li>
        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Sales Report</li>
      </ul>
    </li>
    <li><a href="#"><img src="../../assets/imgs/menu7.png" />Notifications</a>
      <ul>

        <li> <ion-icon name="arrow-dropright-circle"></ion-icon> &nbsp; Notifications</li>
      </ul>
    </li>
    </ul>
    <a href="#" class="logouttxt">Logout</a>
    </div>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>