// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-Bold.eot');
    src: url('../../assets/fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-Bold.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-Bold.woff') format('woff'),
         url('../../assets/fonts/Manrope-Bold.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-Medium.eot');
    src: url('../../assets/fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-Medium.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-Medium.woff') format('woff'),
         url('../../assets/fonts/Manrope-Medium.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-Medium.svg#Manrope-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-ExtraLight.eot');
    src: url('../../assets/fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-ExtraLight.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-ExtraLight.woff') format('woff'),
         url('../../assets/fonts/Manrope-ExtraLight.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-ExtraBold.eot');
    src: url('../../assets/fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-ExtraBold.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-ExtraBold.woff') format('woff'),
         url('../../assets/fonts/Manrope-ExtraBold.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-Regular.eot');
    src: url('../../assets/fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-Regular.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-Regular.woff') format('woff'),
         url('../../assets/fonts/Manrope-Regular.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-Light.eot');
    src: url('../../assets/fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-Light.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-Light.woff') format('woff'),
         url('../../assets/fonts/Manrope-Light.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-Light.svg#Manrope-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/Manrope-SemiBold.eot');
    src: url('../../assets/fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Manrope-SemiBold.woff2') format('woff2'),
         url('../../assets/fonts/Manrope-SemiBold.woff') format('woff'),
         url('../../assets/fonts/Manrope-SemiBold.ttf') format('truetype'),
         url('../../assets/fonts/Manrope-SemiBold.svg#Manrope-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
*
{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p
{
    margin:0;
    padding:0;
}
ul, li, ol
{
    margin:0;
    padding:0;
    list-style-type:none;
}
img
{
    max-width:100%;
    height:auto;
}
a
{
    text-decoration:none !important;
    border:0;
    outline:0;
}
iframe, input, button, textarea, select
{
    border:0;
    outline:0;
    background:transparent;
}
body
{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height:normal;
    color: #252525;
}
.container-fluid
{
    max-width:100%;
    padding:0 15px;
}
.row
{
    margin:0 -15px;
}
.headersec
{
    width:100%;
    overflow:hidden;
    padding:10px 0;
    padding-right: 10px;
}
.row {
    margin: 0px;
}
.burgermenu
{
    float:left;
}
.logo
{
    float:left;
    margin-left:25px;
}
.rytheadsec
{
    float:right;
}
.notify
{
    float:left;
    position:relative;
}
.notification
{
    position:absolute;
    right:0;
    top:5px;
    z-index:1;
    width:16px;
    height:16px;
    background:#ff5252;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.walletsec
{
    float:left;
    background:url(../../assets/imgs/wallet.png) no-repeat right center;
    text-transform:capitalize;
    line-height:normal;
    padding-right:45px;
    margin-left:38px;
}
.walletsec span
{
    display:block;
    color:#03b16d;
}
.bannersec
{
    width:100%;
    overflow:hidden;
    margin-top:10px;
}
.bannersec img
{
    width:100%;
}
.slidetxt
{
    width:100%;
    overflow:hidden;
    padding:20px 0;
}
.greybg
{
    width:100%;
    overflow:hidden;
    background:#f0efef;
    padding:4px 30px 30px 30px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.sgleitem
{
    width:50%;
    float:left;
    padding:0 15px;
    margin-top:26px;
}
.sgleitem img {
    border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width:100%;
}
.iconsec
{
    width:100%;
    overflow:hidden;
    padding:30px 0;
    text-align:center;
}
.iconsec h1
{
    line-height:normal;
    font-size:22px;
    font-weight:normal;
    text-align:left;
    padding-bottom:10px;
}
.sgleiconsec
{
    width:33.3%;
    padding:0 15px;
    display:inline-block;
    margin-top:20px;
}
.iconwhtebg
{
 width:100%;
 text-align:center;
 min-height:100px;
 background:#fff;
 border-radius:30px;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
 box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
 position:relative;
}
.iconwhtebg img
{
 width:auto !important;
 height:auto;
 display:block !important;
 margin:0 auto;
 padding-top:22px;
}
.iconwhtebg span
{
 position:absolute;
 right:-13px;
 top:8px;
 z-index:1;
 background:#fa4426;
 line-height:19px;
 border-radius:9px;
 -moz-border-radius:9px;
 -webkit-border-radius:9px;
 padding:0 10px;
 text-transform:capitalize;
 color:#fff;
 font-size:10px;
}
.sgleiconsec .title
{
 text-align:center;
 text-transform:capitalize;
 line-height:normal;
 font-size:15px;
 padding-top:8px;
}
.graphicsec
{
    width:100%;
    overflow:hidden;
    text-align:center;
}
.footersec
{
    width:100%;
    overflow:hidden;
    height:84px;
    position:fixed;
    left:0;
    bottom:0;
    z-index:1;
    background:#fff;
    padding-top:23px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.sgleftrsec
{
    width:20%;
    float:left;
    text-align:center;
}
#cssmenu li ul {
    display: none;
}
#cssmenu li:hover > ul,
#cssmenu li:focus > ul{
  display: block;
}

.menu-inner {
    width: 85% !important;
}
.menubg
{
    width:100%;
    height:100%;
    display: block !important;
    position:fixed;
    background:#b3f8e5;
    left:0;
    top:0;
    z-index:2;
    padding:20px;
    overflow-y:auto;
}
.topmenubg
{
    width:100%;
    overflow:hidden;
    background:#e2fdf6;
    padding:15px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.menubg ul li
{
    padding:16px 0;
    border-bottom:1px solid #03b16d;
    font-size:17px;
    text-transform:capitalize;
    font-weight:normal;
    color: #03b16d;
}
.menubg ul li:last-child
{
    border-bottom:0;
}
.menubg ul li a
{
    display:block;
    line-height:42px;
    color:#03b16d;
    background:url(../../assets/imgs/arrow.png) no-repeat 97% center;
    padding:15px;
}
.menubg ul li a img
{
    float:left;
    margin-right:20px;
}
.menubg ul li a:hover
{
    background-color:#e2fdf6;
    border-radius:15px;
}
a.logouttxt
{
    float:right;
    background:url(../../assets/imgs/logout.png) no-repeat right center;
    padding-right:47px;
    line-height:26px;
    font-size:16px;
    font-weight:normal;
    color:#03b16d;
    margin-top:20px;
    margin-bottom:20px;
}
.leftpart
{
    width:50%;
    float:left;
}
.thumbnailsec
{
    width:82px;
    height:82px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border:3px solid #dddddd;
    overflow:hidden;
    margin:0 auto;
}
.thumbnailsec img
{
    width:100%;
    height:100%;
    object-fit:cover;
}
.leftpart p
{
    text-align:center;
    padding-top:5px;
}
.rightpart
{
    width:50%;
    float:right;
}
.topmenubg p
{
    color:#818181;
}
.topmenubg p strong
{
    color:#252525;
    font-size:16px;
}
.headingbutsec
{
    width:100%;
    float:left;
    margin-bottom:30px;
}
.headingbutsec h1
{
    float:left;
    line-height:46px;
    text-transform:capitalize;
    color:#03b16d;
    font-weight:600;
    font-size:22px;
}
a.rechargestatementbut
{
    float:right;
    line-height:46px;
    font-size:14px;
    display:block;
    text-transform:capitalize;
    color:#03b16d;
    padding:0 24px 0 70px;
    margin:0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background:url(../../assets/imgs/statement.jpg) no-repeat 24px center #fff;
}
.formgreybg
{
    width:100%;
    overflow:hidden;
    background:#f0efef;
    padding:4px 30px 30px 30px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.sgleformsec
{
 width:100%;
 overflow:hidden;
 margin-top:26px;
}
.sgleformsec .label
{
 display:block;
 font-size:15px;
 line-height:normal;
 width:100%;
 color:#252525;
 padding:0 20px 10px;
}
.inputfield
{
 height:50px;
 line-height:50px;
 background:#fff;
 width:100%;
 border-radius:30px;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 border:0;
 outline:0;
 padding:0 20px;
 font-size:15px;
 font-weight:400;
}
.headersec .button-md {
    background-color: #fff;
    box-shadow: none;
    height: auto;
}
.selectfield
{
 height:50px;
 line-height:50px;
 background:url(../../assets/imgs/downarrow.png) no-repeat 95% center #fff;
 width:100%;
 border-radius:30px;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 border:0;
 outline:0;
 padding:0 20px;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 font-size:15px;
 font-weight:400;
}
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 30px;
  line-height:20px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxcontainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
}
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #03b16d;
}
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #03b16d;
}
.checkboxcontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxcontainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rechargebut
{
 background:#03b16d;
 color:#fff;
 text-transform:capitalize;
 padding:0 30px;
 font-size:15px;
 height:46px;
 outline:0;
 border:0;
 border-radius:25px;
 -moz-border-radius:25px;
 -webkit-border-radius:25px;
 cursor:pointer;
 font-family: 'Manrope';
 font-weight:600;
 display:inline-block;
}
.bodysec
{
    width:100%;
    overflow:hidden;
    padding-bottom:104px;
}
@media only screen and (max-width: 1024px) {



}

@media only screen and (max-width: 991px) {



}

@media only screen and (max-width: 767px) {

.menubg
{
    width:100%;
    display:none;
}
.topmenubg
{
    text-align:center;
}
.leftpart, .rightpart
{
    width:100%;
    float:none;
    overflow:hidden;
}
.sgleiconsec
{
    width:33.3%;
}
.iconwhtebg
{
    min-height:80px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.iconwhtebg img
{
    padding-top:11px;
}

}

@media only screen and (max-width: 479px) {

.headingbutsec
{
    text-align:center;
}
.headingbutsec h1
{
    float:none;
    width:100%;
    overflow:hidden;
    line-height:normal;
    padding-bottom:20px;
}
a.rechargestatementbut
{
    float:none;
    display:inline-block;
}
.sgleitem
{
    
    overflow:hidden;
}
.sgleiconsec
{
    width:33.3%;
}
.iconwhtebg
{
    min-height: 70px;
}
.sgleiconsec .title
{
    font-size:12px;
}
.iconwhtebg img
{
    max-height:60px;
}

}